* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #000;
    color: #e7e7e7;
}
/* Layer And Image */
img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
.layer {
    position: absolute;
    width: 30rem;
    height: 0;
    box-shadow: 0 0 700px 15px white;
    top: 20%;
    right: 0;
    rotate: -30deg;
}
/* Container */
.container {
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;    
}
.logo {
    font-size: 2rem;
    user-select: none;
}
nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 0.9rem;
}
nav a {
    text-decoration: none;
    color: #e7e7e7;
}
nav a:hover {
    color: #a7a7a7;
}
.signing-btn {
    color: black;
    background-color: #a7a7a7;
    padding: 0 2rem;
    border-radius: 50px;
    font-weight: 500;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}
.signing-btn:hover {
    background-color: #e7e7e7;
}
/* Content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: (90vh - 6rem);
}
.content {
    position: absolute;
    left: 6rem;
    top: 12rem;
}
.tag-box {
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0, #757575, #656565);
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}
.tag {
    position: absolute;
    background-color: black;
    inset: 3px;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
}
.tag:hover {
    color: #5300a0;
}
h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}
p {
    color: gray;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}
.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}
.btn-get {
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    color: #5300a0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}
.btn-get:hover {
    background-color: #1a1a1a;
}
.btn-sign {
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}
.btn-sign:hover {
    background-color: gray;
}
.robot {
    position: absolute;
    right: -25%;
    top: 0;
}
@media (max-width: 1300px) {
    header {
        padding: 1rem 0.5rem;
    }
    .content {
        margin-top: 10%;
        scale: 0.6;
        top: 14rem;
        left: 4rem;
    }
    .robot {
        top: -20%;
        right: 0;
        scale: 0.5;
    }
}
@media (max-width: 768px) {
    .content {
        left: 0;
    }
    nav {
        display: none;
    }
    .robot {
        width: 210%;
        right: -55%;
        top: -30%;
        scale: 0.4;
    }
    .buttons a {
        padding: 0.4rem 0.7rem;
    }
}